body{
    background-color: #555;
}
.sort{

    background-image: url("Assets/mergeSort.jpg");
}
#sorted{
    font-size: xx-large;
    font-family:fantasy;
}
.home{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.playndrom{

   color: azure;
   font-family: fantasy;
    

}
