body{
    background-image: linear-gradient(to left, #042a63, #1e2868, #32256b, #43206c, #54176b);
}
.sort{

    background-image: url("Assets/mergeSort.jpg");
}
#sorted{
    font-size: xx-large;
    font-family:fantasy;
}
.home{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.playndrom{

   color: azure;
   font-family: fantasy;
    

}
.top-menu {
    background-color:transparent;
    color: #fff;
    height: 50px;
  }
  
  .top-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .top-menu li {
    margin: 0 10px;
  }
  
  .top-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .top-menu a:hover {
    background-color: #555;
  }
  #box {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to left, #000000, #ffffff, #836fde, #7700ff, #cb125c);
    position: relative;}